/node_modules
/vendor
/.vscode

config.json
cookies.txt
.env

# In development
/public
/views
server.js
composer.json
composer.lock
## package.json
# {
#   "name": "shizuo_heiwajima",
#   "version": "1.0.0",
#   "description": "Music bot with moderation capabilities",
#   "main": "index.js",
#   "scripts": {
#     "test": "echo \"Error: no test specified\" && exit 1",
#     "start": "npx nodemon server.js"
#   },
#   "author": "Raymond van Someren (raymond570#2966)",
#   "repository": {
#     "type": "git",
#     "url": "https://github.com/raymondvansomeren/Shizuo_discord_bot"
#   },
#   "license": "ISC",
#   "dependencies": {
#     "@discordjs/opus": "^0.3.3",
#     "axios": "^0.21.1",
#     "cookiefile": "^1.0.10",
#     "discord.js": "^12.3.1",
#     "dotenv": "^10.0.0",
#     "eslint": "^7.14.0",
#     "express": "^4.17.1",
#     "ffmpeg": "0.0.4",
#     "ffmpeg-static": "^4.2.7",
#     "fluent-ffmpeg": "^2.1.2",
#     "moment": "^2.29.1",
#     "moment-duration-format": "^2.3.2",
#     "mysql2": "^2.2.5",
#     "php-express": "0.0.3",
#     "youtube-dl-exec": "^1.2.6",
#     "ytdl-core": "^4.9.1",
#     "ytpl": "^2.0.5",
#     "ytsr": "^3.3.1"
#   },
#   "devDependencies": {
#     "nodemon": "^2.0.12"
#   }
# }

move.js
.env.example