{
    "token": "",
    "clientId": "",
    "logLevel": "debug",
    "inDevelopment": true,
    "devServer": "",
    "color": "#5E202E",
    "youtubeKey": "",
    "invitelink": "https://discord.com/api/oauth2/authorize?client_id=761262210206531645&permissions=288435286&scope=bot%20applications.commands",
    "discord": "https://discord.gg/ZQ23K2AkJz",
    "vote": [
        {
            "name": "discordbotlist",
            "link": "https://discordbotlist.com/bots/shizuo-heiwajima/upvote"
        },
        {
            "name": "topgg",
            "link": "https://top.gg/bot/761262210206531645/vote"
        }
    ],
    "youtube-cookies":
    {
        "SID": "",
        "SSID": "",
        "HSID": "",
        "SIDCC": "",
        "xyoutubeidentitytoken": "",
        "cookies": ""
    },
    "siteTokens": {
        "topgg": {
            "token": "xxxxx",
            "url": "https://top.gg/api/bots/10101010101010/stats"
        },
        "discordbotsgg": {
            "token": "xxxxx",
            "url": "https://discord.bots.gg/api/v1/bots/10101010101010/stats"
        },
        "discordbotlist": {
            "token": "xxxxx",
            "url": "https://discordbotlist.com/api/v1/bots/10101010101010/stats"
        }
    }
}