{
    "token": "your-token-here",
    "ownerID": "your-discord-id-here",
    "youtubeKey": "youtube-api-key-here",
    "defaultPrefix": "s!",
    "defaultModPrefix": "s@",
    "dbhost": "",
    "dbuser": "",
    "dbpassword": "",
    "db": "",
    "invitelink": "",
    "discord": "",
    "vote": [
        {
            "name": "sitename one",
            "link": "link one"
        },
        {
            "name": "sitename two",
            "link": "link two"
        }
    ]
}
